In [ ]:
import selenium
from selenium import webdriver
import time
import pandas as pd
import numpy as np
from selenium.common.exceptions import NoSuchElementException

In [ ]:
driver = webdriver.Chrome('chromedriver.exe')  #the html is loaded.

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

def get_yatra(dep_from, arr_to, dep_day, dep_mon, dep_year, fl_cl):
    urls = ('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class='+fl_cl+
    '&destination='+arr_to+'&destinationCountry=IN&flexi=0&flight_depart_date='+dep_day+'%2F'+dep_mon+'%2F'+dep_year+'&hb=0&noOfSegments=1&origin='
    +dep_from+'&originCountry=IN&type=O&unique=207953473702&viewName=normal')
    
    driver.get(urls)

    time.sleep(35)
    
    for i in range(45): 
       driver.execute_script("window.scrollBy(0, 10000)")
       time.sleep(1)
    
    try:
        air = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
        for i in air:
            airlines.append(i.text)
    except NoSuchElementException:
        airlines.append('-')
    
    try:
        dep = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
        for d in dep:
            departure.append(d.text)
    except NoSuchElementException:
        departure.append('-')
    try:
        dur = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]//p')
        for u in dur:
            duration.append(u.text)
    except NoSuchElementException:
        duration.append('-')
        
    try:
        stop = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]//span')
        for s in stop:
            stops.append(s.text)
    except NoSuchElementException:
        stops.append('-')
        
        
    try:
        tcity = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
        for t in tcity:
            to_city.append(t.text)
    except NoSuchElementException:
        to_city.append('-')
        
    
    try:
        pri = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
        for p in pri:
            price.append(p.text.replace(',',''))
    except NoSuchElementException:
        price.append('-')

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','17','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BLR','17','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','MAA','17','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BOM','17','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','HYD','17','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','AMD','17','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','GOI','17','11','2022','Economy')



x1 = pd.DataFrame({})
x1['airlines'] = airlines
x1['departure'] = departure
x1['duration'] = duration
x1['stops'] = stops
x1['from_city'] = 'Kolkata'
x1['to_city'] = to_city
x1['price'] = price
x1['journey_date'] = '2022-11-17'
x1['fclass'] = 'Economy'
x1

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','15','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BLR','15','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','MAA','15','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BOM','15','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','HYD','15','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','AMD','15','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','GOI','15','11','2022','Economy')



x2 = pd.DataFrame({})
x2['airlines'] = airlines
x2['departure'] = departure
x2['duration'] = duration
x2['stops'] = stops
x2['from_city'] = 'Kolkata'
x2['to_city'] = to_city
x2['price'] = price
x2['journey_date'] = '2022-11-15'
x2['fclass'] = 'Economy'
x2

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','2','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BLR','2','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','MAA','2','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BOM','2','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','HYD','2','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','AMD','2','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','GOI','2','11','2022','Economy')



x3 = pd.DataFrame({})
x3['airlines'] = airlines
x3['departure'] = departure
x3['duration'] = duration
x3['stops'] = stops
x3['from_city'] = 'Kolkata'
x3['to_city'] = to_city
x3['price'] = price
x3['journey_date'] = '2022-11-2'
x3['fclass'] = 'Economy'
x3

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','4','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BLR','4','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','MAA','4','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BOM','4','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','HYD','4','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','AMD','4','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','GOI','4','11','2022','Economy')



x4 = pd.DataFrame({})
x4['airlines'] = airlines
x4['departure'] = departure
x4['duration'] = duration
x4['stops'] = stops
x4['from_city'] = 'Kolkata'
x4['to_city'] = to_city
x4['price'] = price
x4['journey_date'] = '2022-11-4'
x4['fclass'] = 'Economy'
x4

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','6','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BLR','6','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','MAA','6','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BOM','6','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','HYD','6','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','AMD','6','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','GOI','6','11','2022','Economy')



x5 = pd.DataFrame({})
x5['airlines'] = airlines
x5['departure'] = departure
x5['duration'] = duration
x5['stops'] = stops
x5['from_city'] = 'Kolkata'
x5['to_city'] = to_city
x5['price'] = price
x5['journey_date'] = '2022-11-6'
x5['fclass'] = 'Economy'
x5

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','8','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BLR','8','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','MAA','8','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BOM','8','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','HYD','8','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','AMD','8','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','GOI','8','11','2022','Economy')



x6 = pd.DataFrame({})
x6['airlines'] = airlines
x6['departure'] = departure
x6['duration'] = duration
x6['stops'] = stops
x6['from_city'] = 'Kolkata'
x6['to_city'] = to_city
x6['price'] = price
x6['journey_date'] = '2022-11-8'
x6['fclass'] = 'Economy'
x6

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','10','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BLR','10','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','MAA','10','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BOM','10','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','HYD','10','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','AMD','10','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','GOI','10','11','2022','Economy')



x7 = pd.DataFrame({})
x7['airlines'] = airlines
x7['departure'] = departure
x7['duration'] = duration
x7['stops'] = stops
x7['from_city'] = 'Kolkata'
x7['to_city'] = to_city
x7['price'] = price
x7['journey_date'] = '2022-11-10'
x7['fclass'] = 'Economy'
x7

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','12','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BLR','12','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','MAA','12','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BOM','12','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','HYD','12','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','AMD','12','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','GOI','12','11','2022','Economy')



x8 = pd.DataFrame({})
x8['airlines'] = airlines
x8['departure'] = departure
x8['duration'] = duration
x8['stops'] = stops
x8['from_city'] = 'Kolkata'
x8['to_city'] = to_city
x8['price'] = price
x8['journey_date'] = '2022-11-12'
x8['fclass'] = 'Economy'
x8

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','14','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BLR','14','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','MAA','14','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','BOM','14','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','HYD','14','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','AMD','14','11','2022','Economy')
time.sleep(4)
get_yatra('CCU','GOI','14','11','2022','Economy')



x9 = pd.DataFrame({})
x9['airlines'] = airlines
x9['departure'] = departure
x9['duration'] = duration
x9['stops'] = stops
x9['from_city'] = 'Kolkata'
x9['to_city'] = to_city
x9['price'] = price
x9['journey_date'] = '2022-11-14'
x9['fclass'] = 'Economy'
x9

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','30','10','2022','Special')
time.sleep(4)
get_yatra('CCU','BLR','30','10','2022','Special')
time.sleep(4)
get_yatra('CCU','MAA','30','10','2022','Special')
time.sleep(4)
get_yatra('CCU','BOM','30','10','2022','Special')
time.sleep(4)
get_yatra('CCU','HYD','30','10','2022','Special')
time.sleep(4)
get_yatra('CCU','AMD','30','10','2022','Special')
time.sleep(4)
get_yatra('CCU','GOI','30','10','2022','Special')



y1 = pd.DataFrame({})
y1['airlines'] = airlines
y1['departure'] = departure
y1['duration'] = duration
y1['stops'] = stops
y1['from_city'] = 'Kolkata'
y1['to_city'] = to_city
y1['price'] = price
y1['journey_date'] = '2022-10-30'
y1['fclass'] = 'Special'
y1

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','17','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BLR','17','11','2022','Special')
time.sleep(4)
get_yatra('CCU','MAA','17','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BOM','17','11','2022','Special')
time.sleep(4)
get_yatra('CCU','HYD','17','11','2022','Special')
time.sleep(4)
get_yatra('CCU','AMD','17','11','2022','Special')
time.sleep(4)
get_yatra('CCU','GOI','17','11','2022','Special')



y2 = pd.DataFrame({})
y2['airlines'] = airlines
y2['departure'] = departure
y2['duration'] = duration
y2['stops'] = stops
y2['from_city'] = 'Kolkata'
y2['to_city'] = to_city
y2['price'] = price
y2['journey_date'] = '2022-11-17'
y2['fclass'] = 'Special'
y2

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','3','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BLR','3','11','2022','Special')
time.sleep(4)
get_yatra('CCU','MAA','3','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BOM','3','11','2022','Special')
time.sleep(4)
get_yatra('CCU','HYD','3','11','2022','Special')
time.sleep(4)
get_yatra('CCU','AMD','3','11','2022','Special')
time.sleep(4)
get_yatra('CCU','GOI','3','11','2022','Special')



y3 = pd.DataFrame({})
y3['airlines'] = airlines
y3['departure'] = departure
y3['duration'] = duration
y3['stops'] = stops
y3['from_city'] = 'Kolkata'
y3['to_city'] = to_city
y3['price'] = price
y3['journey_date'] = '2022-11-3'
y3['fclass'] = 'Special'
y3

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','5','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BLR','5','11','2022','Special')
time.sleep(4)
get_yatra('CCU','MAA','5','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BOM','5','11','2022','Special')
time.sleep(4)
get_yatra('CCU','HYD','5','11','2022','Special')
time.sleep(4)
get_yatra('CCU','AMD','5','11','2022','Special')
time.sleep(4)
get_yatra('CCU','GOI','5','11','2022','Special')



y4 = pd.DataFrame({})
y4['airlines'] = airlines
y4['departure'] = departure
y4['duration'] = duration
y4['stops'] = stops
y4['from_city'] = 'Kolkata'
y4['to_city'] = to_city
y4['price'] = price
y4['journey_date'] = '2022-11-5'
y4['fclass'] = 'Special'
y4

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','7','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BLR','7','11','2022','Special')
time.sleep(4)
get_yatra('CCU','MAA','7','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BOM','7','11','2022','Special')
time.sleep(4)
get_yatra('CCU','HYD','7','11','2022','Special')
time.sleep(4)
get_yatra('CCU','AMD','7','11','2022','Special')
time.sleep(4)
get_yatra('CCU','GOI','7','11','2022','Special')



y5 = pd.DataFrame({})
y5['airlines'] = airlines
y5['departure'] = departure
y5['duration'] = duration
y5['stops'] = stops
y5['from_city'] = 'Kolkata'
y5['to_city'] = to_city
y5['price'] = price
y5['journey_date'] = '2022-11-7'
y5['fclass'] = 'Special'
y5

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','9','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BLR','9','11','2022','Special')
time.sleep(4)
get_yatra('CCU','MAA','9','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BOM','9','11','2022','Special')
time.sleep(4)
get_yatra('CCU','HYD','9','11','2022','Special')
time.sleep(4)
get_yatra('CCU','AMD','9','11','2022','Special')
time.sleep(4)
get_yatra('CCU','GOI','9','11','2022','Special')



y6 = pd.DataFrame({})
y6['airlines'] = airlines
y6['departure'] = departure
y6['duration'] = duration
y6['stops'] = stops
y6['from_city'] = 'Kolkata'
y6['to_city'] = to_city
y6['price'] = price
y6['journey_date'] = '2022-11-9'
y6['fclass'] = 'Special'
y6

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','11','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BLR','11','11','2022','Special')
time.sleep(4)
get_yatra('CCU','MAA','11','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BOM','11','11','2022','Special')
time.sleep(4)
get_yatra('CCU','HYD','11','11','2022','Special')
time.sleep(4)
get_yatra('CCU','AMD','11','11','2022','Special')
time.sleep(4)
get_yatra('CCU','GOI','11','11','2022','Special')



y7 = pd.DataFrame({})
y7['airlines'] = airlines
y7['departure'] = departure
y7['duration'] = duration
y7['stops'] = stops
y7['from_city'] = 'Kolkata'
y7['to_city'] = to_city
y7['price'] = price
y7['journey_date'] = '2022-11-11'
y7['fclass'] = 'Special'
y7

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','13','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BLR','13','11','2022','Special')
time.sleep(4)
get_yatra('CCU','MAA','13','11','2022','Special')
time.sleep(4)
get_yatra('CCU','BOM','13','11','2022','Special')
time.sleep(4)
get_yatra('CCU','HYD','13','11','2022','Special')
time.sleep(4)
get_yatra('CCU','AMD','13','11','2022','Special')
time.sleep(4)
get_yatra('CCU','GOI','13','11','2022','Special')



y8 = pd.DataFrame({})
y8['airlines'] = airlines
y8['departure'] = departure
y8['duration'] = duration
y8['stops'] = stops
y8['from_city'] = 'Kolkata'
y8['to_city'] = to_city
y8['price'] = price
y8['journey_date'] = '2022-11-13'
y8['fclass'] = 'Special'
y8

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','15','11','2022','Business')
time.sleep(4)
get_yatra('CCU','BLR','15','11','2022','Business')
time.sleep(4)
get_yatra('CCU','MAA','15','11','2022','Business')
time.sleep(4)
get_yatra('CCU','BOM','15','11','2022','Business')
time.sleep(4)
get_yatra('CCU','HYD','15','11','2022','Business')
time.sleep(4)
get_yatra('CCU','AMD','15','11','2022','Business')
time.sleep(4)
get_yatra('CCU','GOI','15','11','2022','Business')



z1 = pd.DataFrame({})
z1['airlines'] = airlines
z1['departure'] = departure
z1['duration'] = duration
z1['stops'] = stops
z1['from_city'] = 'Kolkata'
z1['to_city'] = to_city
z1['price'] = price
z1['journey_date'] = '2022-11-15'
z1['fclass'] = 'Business'
z1

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','2','11','2022','Business')
time.sleep(4)
get_yatra('CCU','BLR','2','11','2022','Business')
time.sleep(4)
get_yatra('CCU','MAA','2','11','2022','Business')
time.sleep(4)
get_yatra('CCU','BOM','2','11','2022','Business')
time.sleep(4)
get_yatra('CCU','HYD','2','11','2022','Business')
time.sleep(4)
get_yatra('CCU','AMD','2','11','2022','Business')
time.sleep(4)
get_yatra('CCU','GOI','2','11','2022','Business')



z2 = pd.DataFrame({})
z2['airlines'] = airlines
z2['departure'] = departure
z2['duration'] = duration
z2['stops'] = stops
z2['from_city'] = 'Kolkata'
z2['to_city'] = to_city
z2['price'] = price
z2['journey_date'] = '2022-11-1'
z2['fclass'] = 'Business'
z2

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','4','11','2022','Business')
time.sleep(4)
get_yatra('CCU','BLR','4','11','2022','Business')
time.sleep(4)
get_yatra('CCU','MAA','4','11','2022','Business')
time.sleep(4)
get_yatra('CCU','BOM','4','11','2022','Business')
time.sleep(4)
get_yatra('CCU','HYD','4','11','2022','Business')
time.sleep(4)
get_yatra('CCU','AMD','4','11','2022','Business')
time.sleep(4)
get_yatra('CCU','GOI','4','11','2022','Business')



z3 = pd.DataFrame({})
z3['airlines'] = airlines
z3['departure'] = departure
z3['duration'] = duration
z3['stops'] = stops
z3['from_city'] = 'Kolkata'
z3['to_city'] = to_city
z3['price'] = price
z3['journey_date'] = '2022-11-4'
z3['fclass'] = 'Business'
z3

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','7','11','2022','Business')
time.sleep(4)
get_yatra('CCU','BLR','7','11','2022','Business')
time.sleep(4)
get_yatra('CCU','MAA','7','11','2022','Business')
time.sleep(4)
get_yatra('CCU','BOM','7','11','2022','Business')
time.sleep(4)
get_yatra('CCU','HYD','7','11','2022','Business')
time.sleep(4)
get_yatra('CCU','AMD','7','11','2022','Business')
time.sleep(4)
get_yatra('CCU','GOI','7','11','2022','Business')



z4 = pd.DataFrame({})
z4['airlines'] = airlines
z4['departure'] = departure
z4['duration'] = duration
z4['stops'] = stops
z4['from_city'] = 'Kolkata'
z4['to_city'] = to_city
z4['price'] = price
z4['journey_date'] = '2022-11-7'
z4['fclass'] = 'Business'
z4

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','10','11','2022','Business')
time.sleep(4)
get_yatra('CCU','BLR','10','11','2022','Business')
time.sleep(4)
get_yatra('CCU','MAA','10','11','2022','Business')
time.sleep(4)
get_yatra('CCU','BOM','10','11','2022','Business')
time.sleep(4)
get_yatra('CCU','HYD','10','11','2022','Business')
time.sleep(4)
get_yatra('CCU','AMD','10','11','2022','Business')
time.sleep(4)
get_yatra('CCU','GOI','10','11','2022','Business')



z5 = pd.DataFrame({})
z5['airlines'] = airlines
z5['departure'] = departure
z5['duration'] = duration
z5['stops'] = stops
z5['from_city'] = 'Kolkata'
z5['to_city'] = to_city
z5['price'] = price
z5['journey_date'] = '2022-11-10'
z5['fclass'] = 'Business'
z5

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','13','11','2022','Business')
time.sleep(4)
get_yatra('CCU','BLR','13','11','2022','Business')
time.sleep(4)
get_yatra('CCU','MAA','13','11','2022','Business')
time.sleep(4)
get_yatra('CCU','BOM','13','11','2022','Business')
time.sleep(4)
get_yatra('CCU','HYD','13','11','2022','Business')
time.sleep(4)
get_yatra('CCU','AMD','13','11','2022','Business')
time.sleep(4)
get_yatra('CCU','GOI','13','11','2022','Business')



z6 = pd.DataFrame({})
z6['airlines'] = airlines
z6['departure'] = departure
z6['duration'] = duration
z6['stops'] = stops
z6['from_city'] = 'Kolkata'
z6['to_city'] = to_city
z6['price'] = price
z6['journey_date'] = '2022-11-13'
z6['fclass'] = 'Business'
z6

In [ ]:
ccu = pd.concat([x1,x2,x3,x4,x5,x6,x7,x8,x9,y1,y2,y3,y4,y5,y6,y7,y8,z1,z2,z3,z4,z5,z6], axis = 0)
ccu.shape
ccu.to_excel('ccu_full.xlsx')